<div class="form-group w-20">
  <select id="bookSortType" name="bookSortType" class="form-control">
    {{#each bookSortType}}
      <option value="{{this}}">{{this.desc}}</option>
    {{/each}}
  </select>
</div>
<table class="table table-hover">
  <input type="hidden" id="size" name="size" value="{{condition.size}}">
  <input type="hidden" id="page" name="page" value="{{condition.page}}">
  <caption>Total <kbd>{{#if page.result}}{{number page.totalCount}}{{else}}0{{/if}}</kbd> rows</caption>
  <colgroup>
    <col width="8%">
    <col width="20%">
    <col width="12%">
    <col width="14%">
    <col width="12%">
    <col width="12%">
    <col width="12%">
    <col width="10%">
  </colgroup>
  <thead>
  <tr class="text-center">
    <th scope="col"></th>
    <th scope="col">제목</th>
    <th scope="col">카테고리</th>
    <th scope="col">출판일</th>
    <th scope="col">도서정가(원)</th>
    <th scope="col">도서판매가(원)</th>
    <th scope="col">출판사</th>
    <th scope="col">LINK</th>
  </tr>
  </thead>
  <tbody>
  {{#if page.result}}
    {{#each page.result}}
      <tr style="cursor: pointer" data-idx="{{@index}}">
        <td class="align-middle text-left" data-toggle="modal" data-target="#detailModal"><img src="{{thumbnail}}"></td>
        <td class="align-middle text-left" data-toggle="modal" data-target="#detailModal">{{title}}</td>
        <td class="align-middle text-center" data-toggle="modal" data-target="#detailModal">{{category}}</td>
        <td class="align-middle text-center" data-toggle="modal" data-target="#detailModal">{{date datetime}}</td>
        <td class="align-middle text-center" data-toggle="modal" data-target="#detailModal">{{number price}}</td>
        <td class="align-middle text-center" data-toggle="modal" data-target="#detailModal">{{number sale_price}}</td>
        <td class="align-middle text-center" data-toggle="modal" data-target="#detailModal">{{publisher}}</td>
        <td class="align-middle text-center">
          <a class="btn btn-outline-dark btn-sm" href="{{url}}"><i class="fa fa-book"></i> 보기</a>
        </td>
      </tr>
    {{/each}}
  {{else}}
    <tr class="text-center">
      <td colspan="7">조회 결과가 없습니다.</td>
    </tr>
  {{/if}}
  </tbody>
</table>
{{#if page.result}}
  <nav aria-label="Page navigation example">
  {{#paging condition.page page.totalPages}}
      <a href="#" class="page-link" data-page='{{no}}'>{{text}}</a>
    {{/paging}}
  </nav>
  <script type="text/javascript">
    var detail_map = {};
      {{#each page.result}}
        detail_map[{{@index}}] = {{build this}};
      {{/each}}
  </script>
{{/if}}